RewriteEngine On
DirectoryIndex index.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L]

<IfModule mod_mime.c>
AddEncoding br .br
AddEncoding gzip .gz

AddType application/javascript .js
AddType application/javascript .js.br
AddType application/javascript .js.gz

AddType application/wasm .wasm
AddType application/wasm .wasm.br
AddType application/wasm .wasm.gz

AddType application/octet-stream .data
AddType application/octet-stream .data.br
AddType application/octet-stream .data.gz
</IfModule>

<IfModule mod_headers.c>
<FilesMatch "\.(js|wasm|data)\.br$">
Header set Content-Encoding br
</FilesMatch>

<FilesMatch "\.(js|wasm|data)\.gz$">
Header set Content-Encoding gzip
</FilesMatch>
</IfModule>
